body {
    min-height: 100vh;
    background: linear-gradient(to top right, #979797, #0e0000);
    overflow: hidden;
}

.facebook:before,
.github:before,
.twitter:before,
.instagram:before,
.linkedin:before,
.youtube:before {
    background: #fff;
    background: linear-gradient(
        45deg,
        rgba(255,255,255,.7) 0%,
        rgba(255,255,255,.3) 49%,
        rgba(255,255,255,.5) 40%
    );
}

.social-media-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 300px;
}

.social-media-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 23px;
    position: relative;
    transition: transfor 0.5s ease-in-out;
    margin: 0 20px;
}

.social-media-link > i {
    z-index: 1;
}

.social-media-link:before {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.social-media-link:hover,
.social-media-link:active,
.social-media-link:focus {
    transform: translateY(-16px);
    padding-bottom: 32px;
}

.social-media-link:hover:before,
.social-media-link:active:before,
.social-media-link:focus:before {
    background-position: top right;
}

.social-media-link + .social-media-link {
    margin-left: 4px;
}